.gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    padding: 0;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.image-container {
    width: 300px; /* Фіксована ширина */
    height: 200px; /* Фіксована висота */
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-container img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    display: block !important;
    max-width: none;
    max-height: none;
}
